html, body {
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* PANEL */
.panel {
  width: 30%;
  min-width: 280px;
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  height: auto;
}

/* BOTÓN CENTRAR */
#btn-centro {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 1000;
}

#btn-centro img {
  width: 22px;
}

/* BUSCADOR */
#search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#icon-search {
  width: 26px;
  cursor: pointer;
  margin-right: 8px;
}

#search {
  flex: 1;
  padding: 6px;
  display: none;
}

/* FICHA TÉCNICA */
.ficha {
  background: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.ficha h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #1f3c88;
}

.ficha .dato {
  font-size: 14px;
  margin-bottom: 6px;
}

.ficha .dato span {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* LISTA */
#lista {
  width: 100%;
  padding: 0px;
  border-right: 1px solid #ccc;
  list-style: none;
  overflow-y: auto;
  height: 100vh;
}

#lista li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#lista li:hover {
  background: #e6e6e6;
}

/* =========================
   MAPA
========================= */

/* CONTENEDOR DEL MAPA */
#map-container {
  position: relative;
  flex: 1; /* clave para flex + Leaflet */
}

/* MAPA */
#map {
  width: 100%;
  height: 100%;
}

/* =========================
   MÓVIL
========================= */
/* Responsive móvil */
@media (max-width: 768px) {

html, body {
    height: auto;
    overflow-y: auto;
  }
  body {
    display: block;
    flex-direction: row;
  }
.panel {
  width: 100%;
  height: 50vh;
}
  #search-container {
    position: sticky;
    top: 0;
    width: 100%;
  }
#lista {
    max-height: 50vh;
    width: 100%;
    }
  
  #map {
    height: 50vh;
  }
}


